@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.header{
    font-family: 'Montserrat', sans-serif;
    background-color: #59D678;
    display: flex;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo{
    margin-left: 2%;
}

img{
    width: 70%;
    margin: auto;
}

.div_routes{
    background-color: rgb(255, 255, 255);
    margin: auto;
}

h4{
    font-size: 1vw;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 400;
}