@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.button{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 30%;
}

.button input{
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.3s;
    height: 3vw;
}