@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.header{
    font-family: 'Montserrat', sans-serif;
    background-color: #04D939;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.central{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.session_header{
    display: flex;
    flex-direction: column;
}

img{
    width: 70%;
    margin: auto;
}

h4{
    font-size: 1vw;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 400;
}